<?xml version='1.0' encoding='utf-8'?>
<widget id="io.northernlights.twitter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Transfer Rumours Tool</name>
    <description>
      Application searches for tweets about football players and teams
    </description>
    <author email="mmolotkov1@sheffield.ac.uk" href="https://github.com/MikhailMS/intelligent-web">
        Northern Lights Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
