extends layout

block content
    .container.text-center
        .page-header
            h1 Twitter Search
        p.lead Enter the search query in the form below:
        .form-group
            label(for='key-word') Look for a
            input.form-control#key-word(name='key-word', placeholder='Key word...')
            button#submit Submit
        br
        p.lead Here is your result:
        button#test Hello
        div#resultList
        footer.footer
            .container
                p.text-muted Maintained by Northern Lights Team. All bugs to be reported here https://github.com/MikhailMS/intelligent-web
        // Get tweets from server
    script(src='/js/simpleTwitter.js')
