/* Get fonts */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* Body and container */
#container {
	width: 100%;
	margin: auto;
	outline: none;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	outline: none;
}

/* Popover menu and button */
#btn-help {
	padding-top: 5px;
	margin-top: 5px;
	width: 100%;
}
.popover-item {
	text-align: left;
}

/* Tabs */
.tabs {
	position: absolute;
	top: 1px;
	width:100%;
	height: 5%;
}
.tabs ul#menu {
	list-style: none;
	width: 100%;
	overflow: auto;
	padding: 0;
	margin:0;
}
.tabs ul#menu > li.tab-button {
	display: block;
	width: 33.3%;
	padding: 10px 0;
	float: left;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ccc;
	border-top: 2px solid #ccc;
	background-color: #4168C1;
	color: #fff;
	outline: none;
}
.tabs ul#menu > li.tab-button.active {
	cursor: default;
	border-top: 3px solid rgb(0, 204, 255);
	outline: none;
}

/* Main content */
#tab-content {
	width: 98%;
	padding-top: 90px;
	margin: auto;
}
#search {
	margin-bottom: 10px;
}
#search input,
#search button {
	border-radius: 0;
	outline: none;
}
#search button {
	height: 40px;
	outline: none;
}
/* Player data and button */
.player-wrapper {
	background: #6db8f9;
}
.player-photo {
  display: block;
  max-width:200px;
  max-height:75px;
  width: auto;
	height: auto;
}
.player-title {
	font-size: 1em;
	margin-left: 30px;
	width: 60%;
  height: 45px;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #4168C1;
    border-color: #5f779d;
		border-radius: 4px;
		padding:10px 15px
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #ccc;
}
.removeradius {
	border-bottom-left-radius:0px!important;
	border-bottom-right-radius:0px!important
}
.player-btn {
	width: 100%;
}
/* Tweets */
.search-tweet, .stream-tweet, .db-tweet{
	margin-bottom: 15px;
	padding: 10px;
	background: #F3FCFD;
	font-family: "Open Sans", Helvetica, Arial;
}
.search-tweet-link, .stream-tweet-link, .db-tweet-link {
	margin-left: 10px;
	padding-left: 10px;
	font-size: 1em;
	text-align: left;
	text-decoration: none;
}
.search-tweet-author-link, .stream-tweet-author-link, .db-tweet-author-link {
	margin-left: 15px;
	font-size: 1em;
	text-decoration: none;
}
.search-tweet span.search-tweet-text,
.stream-tweet span.stream-tweet-text,
.db-tweet span.db-tweet-text {
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 100%;
	display: block;
}

/* Loading animation */
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/ajax-loader.gif')
                50% 50%
                no-repeat;
}
body.loading {
    overflow: hidden;
		outline: none;
}
body.loading .loader {
    display: block;
		outline: none;
}

/* Search field and buttons */
.form-control {
	border: 2px solid #e8ebed;
	border-radius: 2px;
	box-shadow: none;
	padding: 18px 12px;
	outline: none;
}
.btn.search, .btn.stream, .btn.db, .player-btn, #btn-help {
	border: none;
	font-size: 15px;
	font-weight: normal;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 14px;
	margin-bottom: 5px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	background-color: #4168C1;
	outline: none;
}
/* Default and hover buttons behaviour */
.btn, .btn-default, .btn-primary, .btn-default:hover, .btn-default:active {
	color: #fff;
	background-color: #4168C1;
	border-color: #5f779d;
	outline: none;
}

/* Stream indicator*/
.toggle {
	display:none;
	height: 37px;
}
